body{
    background-color: #8acdeb;
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
.mugs{
    margin-right: 50em;
}
.mug{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -75px;
    margin-left: 300px;
    z-index: 0;
    opacity: 0;
}
#mug1{
    animation-name: mug1;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes mug1 {
    0% {transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.2;
       }
    100% {transform: translateY(-200px) translateX(-20px) scale(1);
         opacity: 0;
        }
}
#mug2{
    animation-name: mug2;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes mug2 {
    0% {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-200px) translateX(20px) scale(1);
    }
}
#mug3{
    animation-name: mug3;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes mug3 {
    0% {transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.2;
       }
    100% {transform: translateY(-200px) translateX(-20px) scale(1);
         opacity: 0;
        }
}
#mug4{
    animation-name: mug4;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
@keyframes mug4 {
    0% {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-200px) translateX(20px) scale(1);
    } 


}
#cup{
    margin-left: 13.5em;
}
.cup-main {
    position: absolute;
    height: 12.5em;
    width: 18.75em;
    border-radius: 0 0 150px 150px;
    background-color: #fff;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
  }
  
  .cup-shade {
    position: relative;
    height: 300px;
    width: 200px;
    background-color: #F3F3F3;
    display: inline-block;
    margin-left: 42%;
    margin-top: -3px;
    transform: rotate(50deg);
    z-index: 1;
  }
  .cup-handle {
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 0 150px 150px 0;
    border: 1em solid #F3F3F3;
    margin-bottom: 95px;
    margin-left: 250px;
    display: inline-block;
    z-index: 0;
  }
  .saucer{
    position: absolute;
    height: 3em;
    width: 28em;  
    border-radius: 0 0 100px 100px;
    background-color: #F9F9F9;
    margin-top: -40px;
    margin-left: 150px;
    z-index: 2;
  }
  